__pycache__/
*.py[oc]
build/
wheels/
*.egg-info
.venv
*.db
*db.
.env
*.webp
*.png
*.jpg
*.jpeg

logs
*.log
frontend/npm-debug.log*

frontend/node_modules
frontend/dist-ssr
*.dist/*
*.local

*.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

